@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-nov-2019, 12:20:03
    Author     : Nathan
*/

#panelReservas {
    border: 1px solid #003B64;
    background-color: #81B3D5;
    width: 600px;
    margin: 50px auto 80px;
}

#formulario1 {
    display: flex;
    flex-direction: column;
}

#fecha {
    margin: 40px auto 10px;
    width: 130px;
    height: 25px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#seleAula {
    margin: 10px auto 10px;
    width: 70px;
    height: 25px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#verCuadrante {
    margin: 10px auto 40px;
    width: 130px;
    height: 30px;
    border: 2px solid #D9D231;
    border-radius: 7px;
    background-color: #FFFFA9;
    cursor: pointer;
    color: #9F9F00;
    font-weight: bold;
}

#verCuadrante:hover {
    background-color: #FFFF5F;
}

#verDisponibilidad {
    margin: 10px auto 10px;
    width: 130px;
    height: 30px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    cursor: pointer;
    color: #167B00;
    font-weight: bold;
}

#verDisponibilidad:hover {
    background-color: #74F259;
}

#aulaSelected {
    font-weight: bold;
    padding: 5px 0px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #61A0CC;
    border-top: 1px solid #003B64;
    border-bottom: 1px solid #003B64;
}

#panelReservas2 {
    margin: 0px 40px 40px;
}

#encabezado {
    margin-bottom: 10px;
    font-size: 11pt;
    display: grid;
    grid-template-areas: "codEnc empEnc terEnc botEnc";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px;
    grid-gap: 0px 20px;
}

#formulario2 {
    display: grid;
    grid-template-areas: "cod emp ter bot";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px 20px;
}

#codEnc {
    grid-area: codEnc;
    border-bottom: 1px solid #003B64;
}

#empEnc {
    grid-area: empEnc;
    border-bottom: 1px solid #003B64;
}

#terEnc {
    grid-area: terEnc;
    border-bottom: 1px solid #003B64;
}

#botEnc {
    grid-area: botEnc;
    border-bottom: 1px solid #003B64;
}

#cod {
    grid-area: cod;
}

#emp {
    grid-area: emp;
}

#ter {
    grid-area: ter;
}

#bot1, #bot2 {
    grid-area: bot;
}

.formPanel {
    width: 90px;
    height: 20px;
    margin: 5px 0px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#bot1 {
    width: 110px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    color: #167B00;
    font-weight: bold;
    height: 24px;
    cursor: pointer;
    padding: 0px;
}

#bot1:hover {
    background-color: #74F259;
}

#bot2 {
    width: 110px;
    border: 2px solid #B31010;
    border-radius: 7px;
    background-color: #FF3A3A;
    color: #6D0000;
    font-weight: bold;
    height: 24px;
    padding: 0px;
}

#bot2:hover {
    background-color: #E62525;
}
