@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 9:39:12
    Author     : Nathan
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #C8E9FF;
}

header {
    margin: 10px;
    text-align: center;
    background-color: #81B3D5;
    padding: 15px;
    margin: 0px;
    color: #003B64;
}

body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-color: #81B3D5;
    color: #003B64;
}

#formulario {
    border: 1px solid #003B64;
    width: 300px;
    background-color: #81B3D5;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
}

.registro {
    width: 200px;
    height: 25px;
    margin: 10px auto 10px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#email {
    margin: 40px auto 10px;
}

#password2 {
    margin: 10px auto 40px;
}

#aceptar {
    width: 110px;
    margin: 0px auto 40px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    height: 30px;
    cursor: pointer;
    color: #167B00;
    font-weight: bold;
}

#aceptar:hover {
    background-color: #74F259;
}

#volver {
    width: 35px;
    border: 1px solid #B31010;
    background-color: #FF3A3A;
    height: 30px;
    cursor: pointer;
    color: #6D0000;
    font-size: 14pt;
    position: absolute;
}

#volver:hover {
    background-color: #E62525;
}

::placeholder {
    color: #003B64;
}
