@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 21:06:57
    Author     : Nathan
*/

#formulario {
    border: 1px solid #003B64;
    width: 300px;
    background-color: #81B3D5;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
}

#gestUsuarios, #verBitacora {
    width: 170px;
    border: 2px solid #091A32;
    border-radius: 7px;
    background-color: #1E4E8E;
    height: 30px;
    cursor: pointer;
    color: #CBE1FF;
    font-weight: bold;
}

#gestUsuarios {
    margin: 40px auto 5px;
}

#verBitacora {
    margin: 5px auto 40px;
}

#gestUsuarios:hover, #verBitacora:hover {
    background-color: #0F3568;
}
