/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-nov-2019, 12:22:25
    Author     : Nathan
*/

@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #C8E9FF;
}

header {
    margin: 10px;
    background-color: #81B3D5;
    margin: 0px;
    color: #003B64;
    display: flex;
    justify-content: space-between;
}

body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-color: #81B3D5;
    color: #003B64;
}

#menuV {
    display: flex;
    flex-direction: column;
    background-color: #003B64;
    width: 200px;
    height: 50px;
    margin: 0px;
}

#titulo {
    line-height: 50px;
}

#editarPerfil {
    margin: 0px;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    cursor: pointer;
    border: 1px solid #003B64;
    background-color: #317EB7;
    color: #00233C;
}

#editarPerfil:hover {
    background-color: #22689B;
}

#cerrarS {
    margin: 0px;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    cursor: pointer;
    border: 1px solid #B31010;
    background-color: #FF3A3A;
    color: #6D0000;
}

#cerrarS:hover {
    background-color: #E62525;
}

#formularioHeader {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

#menuV > ul {
    width: 200px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    color: #D6EFFF;
    line-height: 50px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #005087;
}

nav > ul > li > ul {
    visibility: hidden;
    background-color: #003B64;
}

nav > ul > li:hover ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
}

nav > ul > li > ul > li {
    border-top: 1px solid #246CBD;
}

main h3 {
    text-align: center;
    background-color: #B3D9F3;
    padding: 10px 0px;
    color: #003B64;
}

#crudFranjas {
    border: 1px solid #003B64;
    background-color: #81B3D5;
    width: 600px;
    margin: 50px auto 80px;
}

#encabezado {
    margin-bottom: 10px;
    font-size: 11pt;
    display: grid;
    grid-template-areas: "codEnc empEnc terEnc";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20px;
    grid-gap: 0px 20px;
}

#formulario1 {
    display: grid;
    grid-template-areas: "cod emp ter eli mod";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px 20px;
}

#formulario2 {
    display: grid;
    grid-template-areas: "newCod newEmp newTer newBot";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px 20px;
}

#codEnc {
    grid-area: codEnc;
    border-bottom: 1px solid #003B64;
}

#empEnc {
    grid-area: empEnc;
    border-bottom: 1px solid #003B64;
}

#terEnc {
    grid-area: terEnc;
    border-bottom: 1px solid #003B64;
}

#codFranja {
    grid-area: cod;
}

#horaEmpieza {
    grid-area: emp;
}

#horaTermina {
    grid-area: ter;
}

#eliminar {
    grid-area: eli;
}

#modificar {
    grid-area: mod;
}

#newCod {
    grid-area: newCod;
}

#newHoraEmp {
    grid-area: newEmp;
}

#newHoraTer {
    grid-area: newTer;
}

#aniadir {
    grid-area: newBot;
}

.formFranjas {
    width: 90px;
    height: 20px;
    margin: 5px 0px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#volver {
    width: 35px;
    border: 1px solid #B31010;
    background-color: #FF3A3A;
    height: 30px;
    cursor: pointer;
    color: #6D0000;
    font-size: 14pt;
    position: absolute;
}

#volver:hover {
    background-color: #E62525;
}
