/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 11:02:39
    Author     : Nathan
*/

@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #C8E9FF;
}

header {
    margin: 10px;
    background-color: #81B3D5;
    margin: 0px;
    color: #003B64;
    display: flex;
    justify-content: space-between;
}

body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-color: #81B3D5;
    color: #003B64;
}

#menuV {
    display: flex;
    flex-direction: column;
    background-color: #598EB1;
    width: 200px;
    height: 50px;
    margin: 0px;
}

#formularioHeader {
    width: 200px;
}

#menuV > ul {
    width: 200px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    color: floralwhite;
    line-height: 50px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #2571C5;
}

nav > ul > li > ul {
    visibility: hidden;
    position: relative;
    background-color: #598EB1;
}

nav > ul > li:hover ul {
    visibility: visible;
    display: flex;
    flex-direction: column;
}

nav > ul > li > ul > li {
    border-top: 1px solid #246CBD;
}

main h3 {
    text-align: center;
}

#formulario {
    border: 1px solid #003B64;
    width: 300px;
    background-color: #81B3D5;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
}

.registro {
    width: 200px;
    height: 25px;
    margin: 10px auto 10px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#email {
    margin: 40px auto 10px;
}

#password2 {
    margin: 10px auto 40px;
}

#aceptar {
    width: 110px;
    margin: 0px auto 40px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    height: 30px;
    cursor: pointer;
    color: #167B00;
    font-weight: bold;
}

#aceptar:hover {
    background-color: #74F259;
}

#volver {
    width: 35px;
    border: 1px solid #B31010;
    background-color: #FF3A3A;
    height: 30px;
    cursor: pointer;
    color: #6D0000;
    font-size: 14pt;
    position: absolute;
}

#volver:hover {
    background-color: #E62525;
}

::placeholder {
    color: #003B64;
}
