@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-nov-2019, 9:28:27
    Author     : Nathan
*/

#crudAulas {
    border: 1px solid #003B64;
    background-color: #81B3D5;
    width: 480px;
    margin: 50px auto 80px;
}

#crudAulas2 {
    margin: 0px 40px 40px;
}

#encabezado {
    margin: 40px 0px 10px;
    font-size: 11pt;
    display: grid;
    grid-template-areas: "codEnc descEnc";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px;
    grid-gap: 0px 20px;
}

#formulario1 {
    display: grid;
    grid-template-areas: "cod desc eli mod";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px 20px;
}

#formulario2 {
    display: grid;
    grid-template-areas: "newCod newDesc newBot";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0px 20px;
}

#codEnc {
    grid-area: codEnc;
    border-bottom: 1px solid #003B64;
}

#descEnc {
    grid-area: descEnc;
    border-bottom: 1px solid #003B64;
}

#codAula {
    grid-area: cod;
}

#nombreAula {
    grid-area: desc;
    width: 70px;
}

#eliminar {
    grid-area: eli;
    padding: 0px;
    border: 2px solid #B31010;
    border-radius: 7px;
    background-color: #FF3A3A;
    color: #6D0000;
    font-weight: bold;
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#eliminar:hover {
    background-color: #E62525;
}

#modificar {
    grid-area: mod;
    padding: 0px;
    border: 2px solid #091A32;
    border-radius: 7px;
    background-color: #1E4E8E;
    color: #CBE1FF;
    font-weight: bold;
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#modificar:hover {
    background-color: #0F3568;
}

#newCod {
    grid-area: newCod;
}

#newDesc {
    grid-area: newDesc;
    width: 70px;
}

#aniadir {
    grid-area: newBot;
    padding: 0px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    color: #167B00;
    font-weight: bold;
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#aniadir:hover {
    background-color: #74F259;
}

.formAulas {
    width: 50px;
    height: 25px;
    margin: 5px 0px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}
