@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 21:11:29
    Author     : Nathan
*/

.formUsuarios {
    width: 150px;
    height: 25px;
    margin: 5px 0px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

.boton {
    width: 65px;
    height: 35px;
    cursor: pointer;
}

#sele {
    height: 27px;
}

#encabezado {
    margin: 40px 20px 10px;
    font-size: 11pt;
    display: grid;
    grid-template-areas: "mailEnc nomEnc apeEnc perEnc";
    grid-template-columns: repeat(4, 147px);
    grid-template-rows: 20px;
    grid-gap: 0px 20px;
}

#mailEnc {
    grid-area: mailEnc;
    border-bottom: 1px solid #003B64;
}

#nomEnc {
    grid-area: nomEnc;
    border-bottom: 1px solid #003B64;
}

#apeEnc {
    grid-area: apeEnc;
    border-bottom: 1px solid #003B64;
}

#perEnc {
    grid-area: perEnc;
    border-bottom: 1px solid #003B64;
}

#divUsuarios {
    border: 1px solid #003B64;
    background-color: #81B3D5;
    width: 900px;
    margin: 50px auto 80px;
}

#formulario1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
}

#activo {
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    color: #167B00;
    font-weight: bold;
}

#activo:hover {
    background-color: #74F259;
}

#inactivo {
    border: 2px solid #CE6B19;
    border-radius: 7px;
    background-color: #FFC08C;
    color: #84430E;
    font-weight: bold;
}

#inactivo:hover {
    background-color: #ED9C59;
}

#eliminar {
    border: 2px solid #B31010;
    border-radius: 7px;
    background-color: #FF3A3A;
    color: #6D0000;
    font-weight: bold;
}

#eliminar:hover {
    background-color: #E62525;
}

#modificar {
    border: 2px solid #091A32;
    border-radius: 7px;
    background-color: #1E4E8E;
    color: #CBE1FF;
    font-weight: bold;
}

#modificar:hover {
    background-color: #0F3568;
}

#aniadirUser {
    margin: 10px 20px 40px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    color: #167B00;
    font-weight: bold;
}

#aniadirUser:hover {
    background-color: #74F259;
}

@media (max-width: 360px) and (max-height: 640px){
    #divUsuarios {
        width: 600px;
    }

    #formulario1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 20px;
    }
}
