@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-oct-2019, 11:02:39
    Author     : Nathan
*/

#formulario {
    border: 1px solid #003B64;
    width: 300px;
    background-color: #81B3D5;
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
}

.registro {
    width: 200px;
    height: 25px;
    margin: 10px auto 10px;
    background-color: #D5DBDF;
    border: 1px solid #003B64;
    padding-left: 10px;
}

#email {
    margin: 40px auto 10px;
}

#password2 {
    margin: 10px auto 40px;
}

#aceptar {
    width: 110px;
    margin: 0px auto 40px;
    border: 2px solid #4DD52F;
    border-radius: 7px;
    background-color: #BAFFAB;
    height: 30px;
    cursor: pointer;
    color: #167B00;
    font-weight: bold;
}

#aceptar:hover {
    background-color: #74F259;
}

::placeholder {
    color: #003B64;
}
