/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-oct-2019, 20:42:49
    Author     : Nathan
*/

@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #C8E9FF;
}

header {
    margin: 10px;
    text-align: center;
}

body {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
}

#formularioLogin {
    border: 1px solid #003B64;
    width: 300px;
    background-color: #81B3D5;
    margin: 0px auto 0px;
}

#email {
    width: 200px;
    margin: 20px 0px 5px;
}
#password {
    width: 200px;
    margin: 5px 0px 20px;
}

#iniciarS {
    width: 100px;
    margin: 5px 0px 20px;
    border: 2px solid #D9D231;
    border-radius: 7px;
    background-color: #FFFCC1;
    height: 30px;
    cursor: pointer;
    color: #797303;
}

#iniciarS:hover {
    background-color: #F6F192;
}

.enlace {
    text-decoration: none;
    color: #FFFBA5;
    margin: 0px 0px 30px;
}

.enlace:hover {
    color: #DDD864;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-color: #81B3D5;
    color: #003B64;
}